/*------------------contato-----------------------------*/
.contato {
    width:100vw;
    display: flex;
    justify-content: space-around;
    padding: 20px
}

.titulo-container-contato,.titulo-itens-contato{
    color: var(--azul-escuro);
    padding: 3px;
}

.box-contato { 
    display: flex;
}

.itens-contato {
    padding: 13px;
}

.texto-itens-contato{
    color:rgb(89, 89, 89);
    padding: 4px;
}

.container-valores {
    border: 1px solid rgb(89, 89, 89);
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border-radius: 8px;
}

.titulo-valores {
    color: var(--azul-escuro);
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
}

.grid-valores {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 10px;
    column-gap: 15px;
}

.grid-valores span {
    color: rgb(89, 89, 89);
    font-size: 15px;
}

.grid-valores span:nth-child(even) {
    font-weight: 600;
    color: var(--azul-acinzentado);
}


.formulario-contato {
    border: 1px solid rgb(89, 89, 89);
    width: 500px;
    border-radius: 10px;
  
}

.texto-formulario-contato {
    color: var(--azul-escuro);
    padding: 10px;
    font-weight: 500;
    margin-left: 15px;
}

.formulario-input {
    margin: 20px 5px 0px 20px;
    padding: 8px;
    width: 350px;
}

.btn-formulario {
    width: 450px;
    padding: 20px;
    background-color:var(--azul-escuro);
    border: none;
    border-radius: 15px;
    color: whitesmoke;
    font-size: 1em;
    margin: 20px 0px 5px 20px;
}

.btn-formulario:hover {
    background-color: var(--azul-claro);
    color: black;
}

/* Mobile*/
@media (max-width: 768px) {

  .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 0px;
    width: 100vw;
  }

  #contato {
    margin: 0px;
    max-width: 400px;
  }

  .container-informacoes, .formulario-contato {
    width: 90%;
    margin: 10px ;
    padding: 8px;
  }

  .container-valores {
    width: 100%;
    max-width: 250px;
    padding: 10px;
  }

  .valores, .texto-valores {
    padding: 5px 0;
  }

  .formulario-input {
    margin: 10px ;
    width: 80%;
  }

  .btn-formulario {
    width: 95%;
    padding: 15px;
    margin: 10px 0;
  }

  .itens-contato {
    padding: 8px 0;
  }

  .texto-itens-contato {
    font-size: 14px;
    padding: 2px 0;
  }

  .titulo-container-contato, .titulo-itens-contato {
    font-size: 16px;
  }

}
