/* ----- CABEÇALHO -----*/
header {
    position: fixed; /* Fixa no topo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--azul-acinzentado);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px; 
    height: 60px;
}

.logo {
    width: 200px; 
    height: auto;
}

.lista {
    display: flex;
    gap: 15px;
}

/* Itens do menu */
.itensMenu {
    list-style: none;
}

.linkMenu {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    transition: 0.3s;
}

.linkMenu:hover {
    background-color: rgba(255, 255, 255, 0.89);
    color: var(--azul-escuro);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}

/* Botão Menu (aparece só no mobile) */
.btn-menu {
    display: none;
    background-color: var(--azul-claro);
    border: none;
    padding: 8px 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

/* Tablets */
@media (max-width: 1024px) {
  .logo {
    width: 180px;
  }

  .linkMenu {
    font-size: 16px;
    padding: 10px;
  }
}

/* Mobile*/
@media (max-width: 580px)  {
    .menu {
        max-width: 100vw;
        padding: 15px;
    }

    .containerLogo {
        display: flex;
        align-items: center;
    }

    .logo {
      width: 170px;
      height: auto;
      display: block;
    }
    .lista {
        display: none;
    }
    
    .btn-menu {
        display: block;
    }
}
