/* ----- Section HERO -----*/
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; /* ocupa a tela inteira */
    overflow: hidden;   /* garante que nada saia do contêiner */
    padding: 60px;
    box-sizing: border-box;
}


.video-de-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;     
    object-fit: cover;  /* preenche o contêiner */
    z-index: 0;
}


.conteudo-hero{
    position: relative;
    z-index: 2; /* fica na frente do vídeo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%; 
    max-width: 1000px;
    text-align: center;
    color: rgb(199, 188, 184);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 40px 20px;
    box-sizing: border-box;
    
}

.hero::after { /* entre o vídeo e o texto */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1; 
}

.titulo {
    font-size: 3.1em;
    padding: 20px 0;
    transition: all 0.3s ease;
    line-height: 1.2em;
    letter-spacing: 1px;

    /* degradê animado */
    background: linear-gradient(90deg,#ffff, #40e0d0,#ffff, #40e0d0, #ffff);
    background-size: 300% 300%;
    animation: moveGrad 5s linear infinite;

    /* faz o degradê preencher o texto */
    -webkit-background-clip: text;    
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@keyframes moveGrad {
    0%   { background-position:   0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position:   0% 50%; }
}

.texto-hero{
    font-size: 1.2em;
    padding: 20px;
    font-weight: 600;
    line-height: 1.6em;
}

.btn-explorar{
    font-size: 1em;
    font-family:sans-serif;
    font-weight: bold;
    width: 180px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: var(--azul-claro);
    color: var(--azul-escuro);
    box-shadow:2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    margin: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-explorar:hover {
    background-color: white;
    color: #295074;
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

/* Tablets  */
@media (max-width: 1024px) {
  .conteudo-hero {
    width: 70%;
  }

  .titulo {
    font-size: 2.3em;
  }

  .texto-hero {
    font-size: 1em;
  }
}

/* mobile */
@media (max-width: 768px) {
    .hero {
        height: auto;  
        min-height: 500px; 
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 60px; 
    }

    .video-de-fundo {
        height: 100%;
        object-fit: cover;
    }

    .conteudo-hero {
        width: 90%; 
        padding: 40px 10px;
    }

    .titulo {
        font-size: 2em;
        padding: 10px;
        padding: 15px 0;
    }

    .texto-hero {
        font-size: 1em;
        line-height: 1.8em;
        padding: 15px 0;
    }

    .btn-explorar {
        width: 150px; 
        height: 45px;
    }
}
