/*-----SECTION SOBRE O AQUARIO-----*/
.container-sessoes {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-sessoes {
    font-size: 28px;
    color: var(--azul-escuro);
    padding: 15px;
    margin: 5px;
}

.subtitulo-sessoes {
    font-size: 17px;
    text-align: center;
    width: 600px;
}

.missao {
    display: flex;
    margin: 40px;
}

.titulo-missao {
    color: var(--azul-escuro);
    font-size: 23px;
    padding: 15px;
}

.texto-missao{
    font-size: 17.5px;
    text-align: justify;
    word-spacing:10px;
    width: 83%;
}

.sobre-infomacoes{
    display: flex;
}

.itens-informacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--azul-claro);
    margin: 15px;
    width: 300px;
    height: 200px;
    border-radius: 8px;
  
}

.itens-informacoes:hover{
    transform: scale(1.05);
}

.titulo-informacoes {
    padding: 5px;
}

.descricao-informacoes {
    font-size: 15px;
    width: 82%;
    padding: 18px;
    text-align: center;
}

/* Tablets*/
@media (max-width: 1024px) {
     .subtitulo-sessoes {
    width: 90%;
  }

  .missao {
    flex-direction: column;
    align-items: center;
  }

  .texto-missao {
    width: 95%;
  }

  .sobre-infomacoes {
    display: flex;
    flex-wrap: wrap;
  }

  .container-section {
    width: 100vw;
    margin-right: 0px;
    margin-left: 0px;
  }
}

/* Mobile */
@media (max-width: 768px) {

    .subtitulo-sessoes {
        width: 90%; 
        font-size: 16px; 
        text-align: justify;
        padding: 5px;
    }

    .missao {
        flex-direction: column;
        margin: 20px 0;
    }

    .container-textos-missao {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
        text-align: center;
    }

    .texto-missao {
        font-size: 16px;
        line-height: 1.6em;
        word-spacing: 2px; 
        padding: 10px 0;
        text-align: justify;
    }

    .img-missao {
        width: 80%;
        margin: 20px auto 0 auto;
        display: block;
    }

    .sobre-infomacoes {
        flex-direction: column;
        align-items: center;
    }

    .itens-informacoes {
        width: 90%;
        padding: 8px;
        height: auto; 
        margin: 10px 0;
    }

    .descricao-informacoes {
        width: 90%;
        padding: 10px;
        font-size: 14px;
    }
}
