@charset "UTF-8";

@import url(header.css);
@import url(hero.css);
@import url(sobre.css);
@import url(especies.css);
@import url(galeria.css);
@import url(contato.css);
@import url(footer.css);

/*variaveis*/
:root {
    --azul-escuro:#0D3B66;
    --azul-acinzentado:#3C6184;
    --azul-claro:#9ec0e0;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

