/*variaveis*/
:root {
    --azul-escuro:#0D3B66;
    --azul-acinzentado:#3C6184;
    --azul-claro:#9ec0e0;
    --laranja:#ff6d4d;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    overflow-x: hidden; /* remove a rolagem horizontal */
}
/* ----- CABEÇALHO -----*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color:var(--azul-acinzentado);
    width: 100vw;
    height: 80px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerLogo{
    display: flex;
    justify-items: center;
    padding: 10px;
}

.logo {
    width: 250px;
}

.lista {
    display: flex;
    justify-content: space-around;
}

.itensMenu {
    list-style: none;
    margin: 15px;
    padding: 5px;
}

.linkMenu {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px;
}

.linkMenu:hover {
    background-color: rgba(255, 255, 255, 0.89);
    color: var(--azul-escuro);
    border-radius: 10px;
    box-shadow:2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

/* ----- Section HERO -----*/

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 647px;
}

.video-de-fundo {
    width: 100%;
    height: 647px;
    object-fit: cover; /* Preenche o contêiner, cortando se necessário */
    position: absolute;
    z-index: 0; /* fica atrás */
    
}

.conteudo-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 600px;
    margin: 5px;
    position: relative;
    z-index: 2; /* fica na frente */
    color: rgb(199, 188, 184);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.hero::after { /* entre o vídeo e o texto */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1; 
}

.titulo {
    font-size: 3.1em;
    padding: 20px;
    transition: all 0.3s ease;
    letter-spacing: 1px;

    /* degradê animado */
    background: linear-gradient(90deg,#ffff, #40e0d0,#ffff, #40e0d0, #ffff);
    background-size: 300% 300%;
    animation: moveGrad 5s linear infinite;

    /* faz o degradê preencher o texto */
    -webkit-background-clip: text;    
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@keyframes moveGrad {
    0%   { background-position:   0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position:   0% 50%; }
}

.texto-hero{
    font-size: 1.2em;
    padding: 20px;
    font-weight: 600;
}

.btn-explorar{
    font-size: 1em;
    font-family:sans-serif;
    font-weight: bold;
    width: 180px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: var(--azul-claro);
    color: var(--azul-escuro);
    box-shadow:2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    margin: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-explorar:hover {
    background-color: white;
    color: #295074;
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

/*-----SECTION SOBRE O AQUARIO-----*/
.container-sessoes {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.titulo-sessoes {
    font-size: 28px;
    color: var(--azul-escuro);
    padding: 15px;
    margin: 5px;
}

.subtitulo-sessoes {
    font-size: 17px;
    text-align: center;
    width: 600px;
}

.missao {
    display: flex;
    margin: 40px;
}

.titulo-missao {
    color: var(--azul-escuro);
    font-size: 23px;
    padding: 15px;
}

.texto-missao{
    font-size: 17.5px;
    text-align: justify;
    word-spacing:10px;
    width: 83%;
}

.sobre-infomacoes{
    display: flex;
}

.itens-informacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--azul-claro);
    margin: 15px;
    width: 300px;
    height: 200px;
    border-radius: 8px;
  
}

.itens-informacoes:hover{
    transform: scale(1.05);
}

.titulo-informacoes {
    padding: 5px;
}

.descricao-informacoes {
    font-size: 15px;
    width: 82%;
    padding: 18px;
    text-align: center;
}

/*---------- Section Espécies do Aquário -----------*/
.swiper {
  width: 100%;
  padding: 20px 0;
}

.container-cards.swiper {
  width: 100vw;
  padding: 5px 0;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 380px; 
  display: flex; 
  justify-content: center;
}

.card-peixe {
    border: 01px solid #e0e0e0;
    border-radius: 10px;
    margin: 40px;
    width: 380px;
    height: 416px;
    text-align: center;
    font-size: 13px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0px;

}

.card-peixe:hover{
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    grid-column: 1/3;
}

.card-img-01 {
    background-image: url(imagens/slide01.png);
}

.card-img-02 {
    background-image: url(imagens/slide02.png);
}

.card-img-03 {
    background-image: url(imagens/slide03.png);
}

.card-img-04 {
    background-image: url(imagens/slide04.png);
}

.card-img-05 {
    background-image: url(imagens/slide05.png);
}

.card-img-06 {
    background-image: url(imagens/slide06.png);
}

.titulo-card {
    font-size: 15px;
    color: var(--azul-escuro);
    align-items: start;
    padding: 10px 10px 0px;
    text-align: left;
}

.subtitulo-card {
    color: grey;
    grid-column: 1/3;
    text-align: left;
    padding-left: 10px;

}

.status-peixe-estavel {
    background-color: rgb(177, 237, 177);
    width: 60px;
    height: 20px;
    border-radius: 17px;
    color: green;
    padding: 2px;
    margin: 15px 15px 0px ;
}

.status-peixe-pm{
    background-color: rgb(250, 228, 188);
    width: 150px;
    height: 20px;
    border-radius: 17px;
    color: orange;
    padding: 1px;
    margin: 15px 15px 0px ;
}

.status-peixe-perigo {
    background-color: rgb(255, 131, 127);
    width: 80px;
    height: 20px;
    border-radius: 17px;
    color: red;
    padding: 2px;
    margin: 15px 15px 0px ;
}

.card-rotulo{
    color: var(--azul-escuro);
    font-weight: bold;
}

.texto-card{
    grid-column: 1/3;
    color: rgb(89, 89, 89);
    padding: 7px;
    text-align: justify;
}

ul{
    grid-column: 1/3;
}

.linha{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

